<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title>Edit <%= album.name %></title>
</head>
<body>
  <form action="/albums/<%= album.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="name" placeholder="Name" value="<%= album.name %>" />
    <select name="artist_id">
      <% artists.each do |artist| %>
      <option value="<%= artist.id %>" <%= "selected" if album.artist.id == artist.id%> ><%= artist.name %></option>
      <% end %>
    </select>
    <button>Submit</button>
  </form>

  <form action="/albums/<%= album.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button>Remove Album</button>
  </form>
</body>
</html>
