<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title><%= album.name %></title>
</head>
<body>
  <h1><%= album.name %></h1>
  <div>
    <a href="/albums/<%= album.id %>/edit">Edit</a>
  </div>
  <p>From Artists
    <a href="/artists/<%=album.artist.id %>">
      <%= album.artist.name %>
    </a>
  </p>
</body>
</html>
