<html>
  <body>
    <header>
      <h1>petulance</h1>
      <a href="/pets">run home</a>
    </header>
    <p>
      <%= thispet[:name] %> is a <%= thispet[:type] %>
    </p>
    <h3>
      Change <%= thispet[:name] %>'s' name here:
    </h3>
    <form action="/pet/<%= thispet[:id] %>" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="text" name="newname" placeholder="whats their new name?" required>
      <button>XOXO</button>
    </form>

    <p>
      <%= thispet[:name] %> can be put to sleep here:
    </p>
    <form action="/pet/<%= thispet[:id] %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>injection here</button>
    </form>

  </body>
</html>
